
body{
    font-family: 'Overpass', sans-serif; 
    font-weight: 100;
}

.playVideo{
    width: 80%;
     height: 315px; 
    padding: 25px 0 25px 0;
}

.ico{
    height: 50px;
}

.contenedorVideoPrincipal{
    background-image: url(../IMG/bgComic.jpg);
    display: flex;
    justify-content: center;
    
}

.colorBotones{
    background: linear-gradient(to right bottom,#222831 -3%,#32E0C4 111%);
    font-weight: 300;
    color: white;
}

.textoLink{
    font-weight: 300;
    color:#222831;

}